@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('../assets/fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'roboto';
  --primary-color: white;
  --secondary-color: #e2e7f1;
  --tertiary-color: #1d87d8;
  --accent-color: #f1bc00;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* sidebar */
.sidebar {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
}

nav,
.item {
  display: flex;
  gap: 1.2rem;
}

nav {
  flex-direction: column;
}

.item {
  align-items: center;
}

.item-margin-bottom {
  margin-bottom: 2rem;
}

.item > img {
  filter: invert(1);
}

.item-h1 > img {
  transform: scale(1.5);
}

.item > p,
.item > h1 {
  margin-block: 0;
  font-weight: bold;
  display: none;
}

.item > h1 {
  font-size: 1.5rem;
}

@media (min-width: 1080px) {
  .sidebar {
    padding-right: 4rem;
  }

  .item > p,
  .item > h1 {
    display: block;
  }
}