:root {
  --primary-color: white;
  --secondary-color: #e2e7f1;
  --tertiary-color: #1d87d8;
  --accent-color: #f1bc00;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
}