@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('../assets/fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'roboto';
  --primary-color: white;
  --secondary-color: #e2e7f1;
  --tertiary-color: #1d87d8;
  --accent-color: #f1bc00;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p,
h1 {
  margin: 0;
}

body {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* sidebar */
.sidebar {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
  z-index: 2;
}

nav,
.item {
  display: flex;
  gap: 1.2rem;
}

nav {
  flex-direction: column;
}

.item {
  align-items: center;
}

.item-margin-bottom {
  margin-bottom: 2rem;
}

.item > img {
  filter: invert(1);
}

.item-h1 > img {
  transform: scale(1.5);
}

.item > p,
.item > h1 {
  font-weight: bold;
  display: none;
}

.item > h1 {
  font-size: 1.5rem;
}

@media (min-width: 1080px) {
  .sidebar {
    padding-right: 4rem;
  }

  .item > p,
  .item > h1 {
    display: block;
  }
}

/* header */
header {
  display: grid;
  grid-template: repeat(2, auto) / 2fr 1fr;
  padding: 0 1.5rem 0 1.5rem;
  z-index: 1;
  box-shadow: 0 4px 8px 0px rgb(180, 180, 180);
}

.search,
.profile,
.welcome-user,
.button-container {
  display: grid;
  padding: .5rem;
}

.header-grid-item {
  align-self: center;
}

.profile-picture {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-image: url('../assets/images/avatar-two.png');
}

.large-profile-picture {
  height: 80px;
  width: 80px;
}

/* search */
.search {
  grid-template-columns: max-content auto;
  gap: 1rem;
}

.search > label {
  width: 24px;
  height: 24px;
}

.search > input {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  outline: none;
  height: 2rem;
  padding: 0 .6rem 0 .6rem;
}

/* profile */
.profile {
  grid-template-columns: repeat(3, max-content);
  gap: 1.5rem;
  justify-content: center;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
}

/* welcome user */
.welcome-user {
  grid-template-columns: repeat(2, max-content);
}

.user-greeting {
  font-weight: bold;
}

.greeting {
  font-size: .8rem;
}

.username {
  font-size: 1.4rem;
}

/* buttons */
header > .button-container {
  grid-template-columns: repeat(3, 1fr);
}

.header-button {
  justify-self: center;
  font-weight: bold;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 50px;
  height: 2.5rem;
  width: 6rem;
}

/* main */
main {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 2fr) 300px;
  padding: 2rem 1rem;
  gap: 1rem;
}

.main-card {
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0px 5px 5px lightgray;
}

.main-heading {
  margin-top: 0;
}

main h3 {
  font-size: 1rem;
  margin-bottom: 8px;
}

main p {
  font-size: 1rem;
  color: #636363;
}

.main-side-container {
  padding: 2rem;
}

.projects {
  grid-area: span 2 / span 2 / auto / auto;
}

/* announcements */
.announcement {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d2d2d2;
}

.bottom-announcement {
  padding-bottom: 0;
  border: none;
}